@{
    ViewData["Title"] = "EY Gaming Club";
}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/EYGamingPlatform.css" />
<div>
    <h1>
        <span>L</span>
        <span>e</span>
        <span>t</span>&nbsp;
        <span>t</span>
        <span>h</span>
        <span>e</span>&nbsp;
        <span>f</span>
        <span>u</span>
        <span>n</span>&nbsp;
        <span>b</span>
        <span>e</span>
        <span>g</span>
        <span>i</span>
        <span>n!</span>
    </h1>
</div>
<div>
    <img src="~/img/GamingClubSign.png" alt="animated" class="gamesign" />
</div>
@*<div id="dvMainMenu" class="container dvCardContainer">
           <div class="row">
               <div id="dvCell1" class="col-sm dvCell">
                   <a asp-area="" asp-controller="TTTBingo" asp-action="Index">
                       <img src="~/img/BingoButtonOriginal.jpg"/>
                   </a>
               </div>
               <div id="dvCell2" class="col-sm dvCell">
                   <img src="~/img/BumpyRace.jpg" />
               </div>
               <div id="dvCell3" class="col-sm dvCell">
                   <img src="~/img/SnakeClash.bmp" />
               </div>
               <div id="dvCell4" class="col-sm dvCell">
                   <img src="~/img/CrazyTrivia.jpg" />
               </div>
           </div>
    </div>*@
@*<div id="t">test</div>*@
<div id="gal" class="dvgal">
    <div class="btn prev">prev</div><div class="btn next">next</div>
    <div id="slider">
        <div class="box"><h6 style="color:chartreuse;font-weight:bold;">New!</h6><a asp-area="" asp-controller="TTTBingo" asp-action="Index"><img src="~/img/BingoButtonOriginal.png" /></a></div>
        <div class="box"><h6 style="color:fuchsia">Coming soon.</h6><img src="~/img/BumpyRace.png" /></div>
        <div class="box"><h6 style="color:fuchsia">Coming soon.</h6><img src="~/img/SnakeClash.png" /></div>
        <div class="box"><h6 style="color:fuchsia">Coming soon.</h6><img src="~/img/CrazyTrivia.png" /></div>
        <div class="box"><h6 style="color:fuchsia">Coming soon.</h6><img src="~/img/BumpyRace.png" /></div>
        <div class="box"><h6 style="color:fuchsia">Coming soon.</h6><img src="~/img/SnakeClash.png" /></div>
        <div class="box"><h6 style="color:fuchsia">Coming soon.</h6><img src="~/img/CrazyTrivia.png" /></div>
    </div>
</div>

@*<div id="gal" class="dvgal">
    <div class="btn prev">prev</div><div class="btn next">next</div>
    <div id="slider">
        <div class="box">1
            <a asp-area="" asp-controller="TTTBingo" asp-action="Index">
                <img src="~/img/BingoButtonOriginal.jpg" />
            </a>
        </div>
        <div class="box">2
            <img src="~/img/BumpyRace.jpg" />
        </div>
        <div class="box">3
            <img src="~/img/SnakeClash.bmp" />
        </div>
        <div class="box">4
            <img src="~/img/CrazyTrivia.jpg" />
        </div>
    </div>
</div>*@