@model IEnumerable<EYGamingClub.Models.Cards>

@{
    ViewData["Title"] = "Index";
}
<style>
    .alignright {
        background-color: black;
        color: white;
        text-align: right;
        margin: 0 auto;
    }
</style>
<h4>Card Register</h4>
<hr />
<table id="tblStartOver" class="alignright" cellpadding="0" cellspacing="0" width="100%">
    <tr>
        <th><a id="btnStartOver">Start over&nbsp; </a></th>
    </tr>
</table>
<input id="txtSearchCard" type="text" placeholder="Search Player"> <a id="btnSearchCard" class="btn btn-outline-info"><i class="fas fa-search"></i></a>
<button id="btnCardFilterBack" onClick="BackFromPlayerCard();">Back to list.</button>
<table id="tblCards" class="table table-hover">
    <thead>
        <tr>
            <th>
                Player Nick
            </th>
            <th>
                Answer
            </th>
            <th>
                Hit
            </th>
        </tr>
    </thead>
    <tbody>
        @{
            List<Cards> listcardsfromserver = new List<Cards>();
            listcardsfromserver = (List<Cards>)ViewBag.CardList;
            foreach (Cards cardserver in listcardsfromserver)
            {
                <tr>
                    <td>
                        @cardserver.Player.PlayerName
                    </td>
                    <td>
                        @cardserver.Question.Answer
                    </td>
                    <td>
                        @cardserver.Hit
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
<table id="tblCardbyPlayerId" class="table table-hover" style="display:none">
    <thead>
        <tr>
            <th>
                Player Nick
            </th>
            <th>
                Answer
            </th>
            <th>
                Hit
            </th>
        </tr>
    </thead>
    <tbody id="tbdCardByFilter">
    </tbody>
</table>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js" type="text/javascript"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script>
    $('#btnStartOver').click(function () {
        ConfirmDialog();
    });


    function ConfirmDialog() {
        if (confirm("WARNING: Current players, cards and winners will be lost. All current questions will be set back to ACTIVE status. This action cannot be undone. Proceed under your own risk. Are you sure ?")) {
            bingogamestartover();
        }
        else {
            return false;
        }
    }


    function bingogamestartover() {

        var currentquestionId = "";

        $.ajax({
            url: "/Card/BingoGameStartOver",
            xhrFields: { withCredentials: true },
            crossDomain: true,
            data: {
                startoverkey: currentquestionId
            },
            type: "POST",
            dataType: "json",
            success: function (result, status, xhr) {

                var resultFromServer = xhr.getResponseHeader("StartOverResults");

                //if (dvNextQContainer visible){}
                if (resultFromServer != "Error") {
                    alert('GAME SUCCESSFULLY RESET');
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                alert('Unexpected error: ' + textStatus + " .Details: " + errorThrown);
            }
        });

    }


    //*****************************************************************
    $('#btnSearchCard').click(function () {

        searchplayerbyplayernickname();
    });


    function BackFromPlayerCard() {
        var credentials = "";
        $.ajax({
                 type: "POST",
                 ContentType: 'application/json',
                 url: '@Url.Action("Index","Card")',
                 data:JSON.stringify(credentials),
                 success: function () {
                      window.location.assign("/Card/");
                 },
                 error: function (XMLHttpRequest, textStatus, errorThrown) {
                       alert(XMLHttpRequest.responseText);
                 }
             });
    }




    function searchplayerbyplayernickname() {

        var currentquestionId = $('#txtSearchCard').val();

        $.ajax({
            url: "/Card/SearchCardbyPlayerNick",
            xhrFields: { withCredentials: true },
            crossDomain: true,
            data: {
                cardbyplayer: currentquestionId
            },
            type: "GET",
            dataType: "json",
            success: function (result, status, xhr) {

                var resultFromServer = xhr.getResponseHeader("JSonSearchCardResult");



                if (resultFromServer != "NoResults") {

                    $('#tblCards').hide();
                    $('#tblCardbyPlayerId').show();

                    var arrpotentialwinners = resultFromServer.split("|");
                    var arrpotentialwinner;
                    var arrplayername;
                    var playernickfromnamearray;
                    var newtr_html = '';

                    for (var i = 0; i < arrpotentialwinners.length - 1; i++) {

                        arrpotentialwinner = arrpotentialwinners[i].split(";");
                        arrplayername = arrpotentialwinner[0].split("_");
                        playernickfromnamearray = arrplayername[0];

                        newtr_html += "<tr><td>" + playernickfromnamearray + "</td>\
                                       <td>" + arrpotentialwinner[1] + "</td>\
                                       <td>" + arrpotentialwinner[2] + "</td></tr>";

                        $('#tbdCardByFilter').html(newtr_html);

                    }


                }
                else {
                    $('#tblCards').hide();
                    $('#tblCardbyPlayerId').show();

                    newtr_html += "<tr><td></td>\
                                       <td>" + "No results." + "</td>\
                                       <td></td></tr>\
                                   <tr><td></td><td></td><td></td></tr>";


                    $('#tbdCardByFilter').html(newtr_html);
                }

            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                alert('Unexpected error: ' + textStatus + " .Details: " + errorThrown);
            }
        });

    }

</script>

